{
    "semi": true,
    "tabWidth": 2,
    "printWidth": 100,
    "singleQuote": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "overrides": [
      {
        "files": "*.css",
        "options": {
          "tabWidth": 2
        }
      }
    ]
  }