Data processing
Generate a csv file containing first_name, last_name, address, date_of_birth
Process the csv file to anonymise the data
Columns to anonymise are first_name, last_name and address
You might be thinking that is silly
Now make this work on 2GB csv file (should be doable on a laptop)
Demonstrate that the same can work on bigger dataset
Hint - You would need some distributed computing platform
prerequisites:
Requires installation of pyspark